<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MyCustomSection" type="TNT.Configuration.PartsConfigurationSection, TNT.Configuration"/>
		<section name="TNT.Configuration.PartsConfigurationSection" type="TNT.Configuration.PartsConfigurationSection, TNT.Configuration"/>
		<section name="PaletteNodeSection" type="TNT.Configuration.PaletteNodeConfigurationSection, TNT.Configuration"/>
		<section name="TNT.Configuration.PluginConfigurationSection" type="TNT.Configuration.PluginConfigurationSection, TNT.Configuration"/>
		<section name="TNT.Configuration.CADSettingsConfigurationSection" type="TNT.Configuration.CADSettingsConfigurationSection, TNT.Configuration"/>
		<section name="TNT.Configuration.InstallationFilesConfigurationSection" type="TNT.Configuration.InstallationFilesConfigurationSection, TNT.Configuration"/>
		<section name="SettingsSection" type="TNT.Configuration.XmlSection`1[[Tests.Settings,Tests]], TNT.Configuration"/>
		<section name="ExtendedSettingsSection" type="TNT.Configuration.XmlSection`1[[Tests.Settings,Tests]], TNT.Configuration"/>
		<section name="SettingsList" type="TNT.Configuration.XmlSection`1[[System.Collections.Generic.List`1[[Tests.Settings, Tests]], mscorlib]], TNT.Configuration"/>
		<section name="InvalidReference" type="TNT.Configuration.XmlSection`1[[Tests.Settings,Tests]], TNT.Configuration"/>
		<section name="NoReference" type="TNT.Configuration.XmlSection`1[[Tests.Settings,Tests]], TNT.Configuration"/>
		<section name="InvalidBaseType" type="TNT.Configuration.XmlSection`1[[Tests.Settings,Tests]], TNT.Configuration"/>
		<section name="AppSettingsTest" type="TNT.Configuration.XmlSection`1[[Tests.AppSettings,Tests]], TNT.Configuration"/>
		<section name="ElementsWithAttributesTest" type="TNT.Configuration.XmlSection`1[[Tests.ElementsWithAttributesSettings,Tests]], TNT.Configuration"/>
	</configSections>
	<ElementsWithAttributesTest>
		<ElementsWithAttributesSettings>
			<AClasses>
				<ClassA Value="One"/>
				<!--<Value>One</Value>
				</ClassA>-->
				<ClassA Value="Two" type="Tests.ClassB,Tests"/>
				<!--<Value>Two</Value>
				</ClassA>-->
			</AClasses>
		</ElementsWithAttributesSettings>
	</ElementsWithAttributesTest>
	<AppSettingsTest>
		<AppSettings>
			<Classes>
				<BaseClass type="Tests.InheritedClass1,Tests">
					<BaseClassParameter>1</BaseClassParameter>
					<InheritedClass1Parameter>2</InheritedClass1Parameter>
				</BaseClass>
				<BaseClass type="Tests.InheritedClass2,Tests">
					<BaseClassParameter>1</BaseClassParameter>
					<InheritedClass2Parameter>2</InheritedClass2Parameter>
				</BaseClass>
			</Classes>
		</AppSettings>
	</AppSettingsTest>
	<TNT.Configuration.InstallationFilesConfigurationSection>
		<Files>
			<File appid="appid1" version="version1" url="url1"/>
			<File appid="appid2" version="version2" url="url2"/>
			<File appid="appid3" version="version3" url="url3"/>
		</Files>
	</TNT.Configuration.InstallationFilesConfigurationSection>
	<MyCustomSection>
		<Parts>
			<Part code="TE075" quantity="1"/>
			<Part code="CE721QT" quantity="2"/>
			<Part code="CEP70PT" quantity="3"/>
		</Parts>
	</MyCustomSection>
	<TNT.Configuration.PartsConfigurationSection>
		<Parts>
			<Part code="TE075" quantity="1"/>
			<Part code="CE721QT" quantity="2"/>
			<Part code="CEP70PT" quantity="3"/>
		</Parts>
	</TNT.Configuration.PartsConfigurationSection>
	<PaletteNodeSection>
		<PaletteFile value="File.palette"/>
	</PaletteNodeSection>
	<TNT.Configuration.CADSettingsConfigurationSection>
		<GridColor value="FFFFFF"/>
		<ShowLegend value="true"/>
		<HeightInFeet value="200"/>
		<CulinaryPSI value="&gt; 60 PSI"/>
		<Parts>
			<Part code="TE075" quantity="1"/>
			<Part code="CE721QT" quantity="2"/>
			<Part code="CEP70PT" quantity="3"/>
		</Parts>
	</TNT.Configuration.CADSettingsConfigurationSection>
	<SettingsSection>
		<Settings>
			<IntValue>10</IntValue>
			<StringValue>Value</StringValue>
			<IntList>
				<int>1</int>
				<int>2</int>
				<int>3</int>
				<int>4</int>
				<int>5</int>
				<int>6</int>
			</IntList>
			<StringArray>
				<string>first</string>
				<string>second</string>
				<string>third</string>
			</StringArray>
			<NewProperty>The new property</NewProperty>
		</Settings>
	</SettingsSection>
	<ExtendedSettingsSection>
		<References>
			<Reference Assembly="Tests.dll"/>
		</References>
		<Settings type="ExtendedSettings">
			<IntValue>10</IntValue>
			<StringValue>Value</StringValue>
			<IntList>
				<int>1</int>
				<int>2</int>
				<int>3</int>
				<int>4</int>
				<int>5</int>
				<int>6</int>
			</IntList>
			<StringArray>
				<string>first</string>
				<string>second</string>
				<string>third</string>
			</StringArray>
			<NewProperty>The new property</NewProperty>
		</Settings>
	</ExtendedSettingsSection>
	<InvalidBaseType>
		<References>
			<Reference Assembly="Tests.dll" BaseType="bogus.basetype"/>
		</References>
		<Settings type="ExtendedSettings">
			<IntValue>10</IntValue>
			<StringValue>Value</StringValue>
			<IntList>
				<int>1</int>
				<int>2</int>
				<int>3</int>
				<int>4</int>
				<int>5</int>
				<int>6</int>
			</IntList>
			<StringArray>
				<string>first</string>
				<string>second</string>
				<string>third</string>
			</StringArray>
			<NewProperty>The new property</NewProperty>
		</Settings>
	</InvalidBaseType>
	<SettingsList>
		<ArrayOfSettings>
			<Settings>
				<IntValue>1</IntValue>
			</Settings>
			<Settings type="Tests.ExtendedSettings,Tests">
				<IntValue>2</IntValue>
				<NewProperty>The new property</NewProperty>
			</Settings>
			<Settings type="Tests.ExtendedSettings,Tests">
				<IntValue>3</IntValue>
				<NewProperty>The new property</NewProperty>
			</Settings>
		</ArrayOfSettings>
	</SettingsList>
	<InvalidReference>
		<References>
			<Reference Assembly="bogus.dll"/>
		</References>
		<Settings>
			<IntValue>10</IntValue>
			<StringValue>Value</StringValue>
			<IntList>
				<int>1</int>
				<int>2</int>
				<int>3</int>
				<int>4</int>
				<int>5</int>
				<int>6</int>
			</IntList>
			<StringArray>
				<string>first</string>
				<string>second</string>
				<string>third</string>
			</StringArray>
			<NewProperty>The new property</NewProperty>
		</Settings>
	</InvalidReference>
	<NoReference>
		<Settings type="ExtendedSettings">
			<IntValue>10</IntValue>
			<StringValue>Value</StringValue>
			<IntList>
				<int>1</int>
				<int>2</int>
				<int>3</int>
				<int>4</int>
				<int>5</int>
				<int>6</int>
			</IntList>
			<StringArray>
				<string>first</string>
				<string>second</string>
				<string>third</string>
			</StringArray>
			<NewProperty>The new property</NewProperty>
		</Settings>
	</NoReference>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
